certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
cssselect==1.2.0
DataRecorder==3.4.0
DownloadKit==0.5.3
DrissionPage==3.2.30
et-xmlfile==1.1.0
filelock==3.12.2
FlowViewer==0.3.0
idna==3.4
lxml==4.9.3
numpy==1.25.2
openpyxl==3.1.2
pandas==2.0.3
pychrome==0.2.4
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
requests-file==1.5.1
six==1.16.0
tldextract==3.4.4
tzdata==2023.3
urllib3==1.26.16
websocket-client==1.6.1
APScheduler~=3.10.1